body {
    font-family: times New Roman, sans-serif;
    margin: 10px;
    padding: 0;
    text-align: center; 
    background-color: black; 
    color: white;
}
h1 {
    text-align: center; 
    color: white;
    font-family: arial, sans-serif;
}
h2 {
    text-align: center;
    color:white;
    font-family: Times New Roman, sans-serif;
}
.galeria {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
.imagen {
    margin: 5px;
    background-color: #f9b70f;
    border: 3px solid blue;
    border-radius: 10px; 
    padding: 5px; 
}
.imagen img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.mostrar {
    margin: 10px; 
    background-color: #0000ff; 
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer;
}
